COMPOSE_PROJECT_NAME=pymesec
APP_PORT=8080
MYSQL_PORT=33069
MYSQL_DATABASE=pymesec
MYSQL_USER=pymesec
MYSQL_PASSWORD=pymesec
MYSQL_ROOT_PASSWORD=root
LDAP_PORT=3389
LDAP_ADMIN_PORT=8081
LDAP_ORGANISATION="Northwind Demo"
LDAP_DOMAIN=northwind.test
LDAP_ADMIN_PASSWORD=admin
LDAP_CONFIG_PASSWORD=config
